/* all map containers must be full height */
html, body, .container-fluid, .row { height: 100% }


.tract_cell {
  fill: #FF9933;
  fill-opacity: .1;
  stroke: #FF9933;
  stroke-width: 1.5px;
  pointer-events:all;
}

.tract_cell:hover {
  fill: #FF9933;
  fill-opacity: .7;
}

.tract_links {
  display: none;
  stroke: #000;
}

.tract:hover .tract_links {
  display: inline;
  fill: red;
  fill-opacity: .7;
  pointer-events:none;
}

p {
    <!--font-size: 10px;-->
    <!--font-size: 1vw;-->
}

h1 {
    <!--font-size: 35px;-->
    <!--font-size: 3vw;-->
}

h4 {
    <!--font-size: 18px;-->
    <!--font-size: 1.8vw;-->
}
