/* all map containers must be full height */
html, body, .container-fluid, .row { height: 100% }

.title, .filter_pane, .information_pane {
  overflow-y: scroll;
}

.tract_cell {
  fill: #FF9933;
  fill-opacity: .1;
  stroke: #FF9933;
  stroke-width: 1.5px;
  pointer-events:all;
}

.tract_cell:hover {
  fill: #FF9933;
  fill-opacity: .7;
}

.tract_links {
  display: none;
  stroke: #000;
}

.tract:hover .tract_links {
  display: inline;
  fill: red;
  fill-opacity: .7;
  pointer-events:none;
}

p {
    <!--font-size: 10px;-->
    <!--font-size: 1vw;-->
}

h1 {
    <!--font-size: 35px;-->
    <!--font-size: 3vw;-->
}

h4 {
    <!--font-size: 18px;-->
    <!--font-size: 1.8vw;-->
}

#geo_id .tooltip {
      color: #222;
      background: #fff;
      padding: .5em;
      text-shadow: #f5f5f5 0 1px 0;
      border-radius: 2px;
      font-family: "Helvetica Neue";
      font-size: 14px;
/*      box-shadow: 0px 0px 2px 0px #a6a6a6;
*/      opacity: 1;
/*      position: absolute;
*/    }

#geo_details .tooltip {
      color: #222;
      background: #fff;
      padding: .5em;
      text-shadow: #f5f5f5 0 1px 0;
      font-family: "Helvetica Neue";
      border-radius: 2px;
      font-size: 14px;
      opacity: 1;
    }
